<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <h2>CodeAlpha Store</h2>
</nav>

<div class="product-details">

    <img src="Laptop.jpg" alt="Laptop">

    <div class="details">
        <h1>Laptop</h1>

        <h2>₹50,000</h2>

        <p>
            Powerful laptop with Intel i7 processor, 16GB RAM,
            512GB SSD and Full HD Display.
        </p>

        <button>Add to Cart</button>

        <br><br>

        <a href="/">⬅ Back to Home</a>
    </div>

</div>

<script src="script.js"></script>

</body>
</html>